<h1>Restaurants</h1>

<ul>
  <% @restaurants.each do |restaurant| %>
    <li>      
      <%= image_tag restaurant_photo_url(restaurant), width: '300px' %>
      <%= link_to restaurant.name, restaurant_path(restaurant) %>
    </li>
  <% end %>
</ul>
