<h1>Restaurants</h1>

<ul>
  <% @restaurants.each do |restaurant| %>
    <li>
      
      <% if restaurant.photo.attached? %>
        <%= image_tag restaurant.photo, width: '300px' %>
      <% else %>
        <% placeholder_url = "https://lunawood.com/wp-content/uploads/2018/02/placeholder-image.png" %>
        <%= image_tag placeholder_url, width: '300px' %>
      <% end %>

      <%= link_to restaurant.name, restaurant_path(restaurant) %>
    </li>
  <% end %>
</ul>
